 <div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!--<div class="tech">
      <h2>Design</h2>
      <p>어쩌구저쩌구</p>
    </div> -->
    <div class="tech" style="margin: auto;">
      <h2>Skills</h2>
      <i class="devicon-c-line"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-oracle-original"></i>
      <!--<p>어쩌구저쩌구</p>-->
    </div>

    <!--<div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>어쩌구저쩌구</p>
    </div> -->
</div>
