<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/dominho_main.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Dominho</h3>
    <ul>
      <li>피자 온라인 주문사이트</li>
    </ul>
    <p>HTML5/CSS3, jquery, javascript, Oracle 18c, Github</p>
    <a class="project-link" href="https://github.com/wnajoah/dominho.git">Github</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/olive_main.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Olive Alone</h3>
    <ul>
      <li>1인가구 온라인 커뮤니티</li>
    </ul>
    <p>HTML5/CSS3, jquery, javascript, bootstrap, Oracle 18c, Github</p>
    <a class="project-link" href="https://github.com/wnajoah/olive.git">Github</a>
  </div>
</div>
