<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dominho pizza </h3>
    <ul>
      <li> 피자 온라인 주문사이트</li>
    </ul>
    <p>HTML5, CSS3, 어쩌구</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Olive Alone </h3>
    <ul>
      <li>자취생 온라인 커뮤니티</li>
    </ul>
    <p>HTML5, CSS3, 어쩌구</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
