<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/olive_main.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Olive Alone [팀장]</h3>
    <ul>
      <li>1인가구 온라인 커뮤니티</li>
      <li>개발인원 : 5명</li>
      <li>출석도장, 자유게시판, 중고거래, 식사메이트 매칭, 병원&약국 위치 찾기, 가계부 등의 기능이 구현되어있습니다.</li>
    </ul>
    <p>Java, HTML5/CSS3, jquery, javascript, bootstrap, Oracle 18c, Spring, Github</p>
    <a class="project-link" href="https://github.com/wnajoah/olive.git">Github</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/dominho_main.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Dominho</h3>
    <ul>
      <li>피자 온라인 주문사이트</li>
      <li>개발인원 : 4명</li>
      <li>음식 주문, 주문 내역 확인, 리뷰 작성, 관리자 모드 등의 기능이 구현되어있습니다.</li>
    </ul>
    <p>Java, HTML5/CSS3, jquery, javascript, Oracle 18c, Spring, Github</p>
    <a class="project-link" href="https://github.com/wnajoah/dominho.git">Github</a>
  </div>
</div>

